.da-beat-sequencer{
	font-family: monospace;
}
.da-beat-sequencer .instrument .step{
    display: inline-block;
    vertical-align: middle;
    width: 6.25%;
    text-align: center;
    color: black;
    height: 0;
    padding-top: 3.12%;
    font-size: 2em;
    padding-bottom: 3.12%;
    line-height: 0;
}
.da-beat-sequencer .instrument .step.active{
	background: black;
	color: white;
}
.da-beat-sequencer .bpm-control-wrapper label{
	display: inline-block;
    vertical-align: bottom;
}
.da-beat-sequencer .bpm-control-wrapper label input,
.da-beat-sequencer .bpm-control-wrapper label select{
	display: block;
}
.da-beat-sequencer .instrument label{
	display: inline-block;
	vertical-align: middle;
	width: 19%;
}
.da-beat-sequencer .instrument label input{
	display: block;
	width: 100%;
}
.da-beat-sequencer .instrument .steps{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}